{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">Poll Questions</h1>
    {% for question in latest_question_list %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead">{{ question.question_text }}</p>
                    <a class="btn btn-primary" href="{% url 'polls:vote' question.id %}" role="button" >Vote Now</a>
                    <a class="btn btn-secondary" href="{% url 'polls:results' question.id %}" role="button" >Results</a>
            </div>
        </div>
    {% empty %}
        <li>No Polls Available!</li>
    {% endfor %}
{% endblock content %}
